/*---------- Footer ----------*/
.footer {
    position: relative;
    color: white;
    background: var(--bg-inverse);
    padding: 24px 0 54px;
    display: flex;
    justify-content: center;
}

.footer .container {
    max-width: min(70em, 100%)
}

.footer-top {
    display: flex;
    align-items: center;
}

.footer-nav {
    display: flex;
    margin-left: auto;
    gap: 0 40px;
    justify-content: flex-end;
}

.footer-nav a {
    color: inherit;
    font-size: .9375rem;
}

.footer-nav a:hover {
    text-decoration: underline
}

.footer-info {
    font-size: .9em;

}
.footer-line {
    display: flex;
    gap: 0 .5em;
    margin-bottom: .6em;
    &.secondary {
        color: var(--text-tertiary);
        margin-bottom: 1.3em;
    }
}
.info-divider {
    color: var(--text-tertiary)
}
.footer-copyright {
    font-size: .9em;
    text-align: left;
    color: var(--text-tertiary);
    padding: 0;
}
.footer-legal-nav {
    margin-top: 40px;
    display: flex;
    gap: 0 24px;
}

.footer-legal-nav a {
    color: inherit;
    font-size: .9em;
}

.footer-legal-nav a:hover {
    text-decoration: underline
}
